<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Main</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/admin.css" />
</head>
<body>
    <div th:replace="admin/fragments/header :: headerFragment"></div>
    <section>
        <h2>미답변 리스트</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>답변여부</th>
                    <th>관리</th>
                </tr>
            </thead>
            <tbody th:if="${questionList == null or #lists.isEmpty(questionList)}">
                <tr>
                    <td colspan="5">조회된 데이터가 없습니다. </td>
                </tr>
            </tbody>
            <tbody th:if="${questionList != null and not #lists.isEmpty(questionList)}">
                <tr th:each="question : ${questionList}">
                    <td th:text="${question.qno}"></td>
                    <td th:text="${question.title}">제목</td>
                    <td th:text="${question.user.username}">작성자</td>
                    <td th:text="${question.isanswered == '1' ? 'O' : 'X'}">답변여부</td>
                    <td>
                        <form th:action="@{/admin/answer}" method="get">
                            <input type="hidden" name="id" th:value="${question.qno}" />
                            <button type="submit" class="answer-btn">답변하기</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>