<div xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">
  <header>
    <a th:href="@{/}" id="logo">
      <img src="/images/logo_ver2.png" alt="Green Bank" />
    </a>
    <ul>
      <li class="welcome">
        <span th:text="${session.name}"></span>님 환영합니다!
      </li>
      <li><a th:href="@{/myPage}">마이페이지</a></li>
      <li><a th:href="@{/logout}">로그아웃</a></li>
      <li id="notification">
        <img class="bell" src="/images/icon/icon_bell.png" alt="종 아이콘" onclick="openContent()" />
        <img class="red-circle" src="/images/icon/icon_red_circle.png" alt="알림 아이콘" />
        <div class="notice-box">
          <div class="content">
            <p th:if="${notificationList == null or #lists.isEmpty(questionList)}">알림이 없습니다.</p>
            <ul th:if="${notificationList != null and not #lists.isEmpty(questionList)}"></ul>
          </div>
          <p>최근 30일 이내 알림만 표시됩니다.</p>
        </div>
      </li>
    </ul>
  </header>
  <script>
    const $notification = document.getElementById("notification");
    const $bell = $notification.querySelector(".bell");
    const $noticeBox = $notification.querySelector(".notice-box");

    function openContent() {
       $noticeBox.classList.toggle("active");
    }
  </script>
</div>