<div xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">
  <header>
    <a th:href="@{/}" id="logo">
      <img src="/images/logo_ver2.png" alt="Green Bank" />
    </a>
    <ul>
      <li class="welcome">
        <span th:text="${session.name}"></span>님 환영합니다!
      </li>
      <li><a th:href="@{/myPage}">마이페이지</a></li>
      <li><a th:href="@{/logout}">로그아웃</a></li>
      <li id="notification">
		<img class="bell" src="/images/icon/icon_bell.png" alt="종 아이콘" onclick="openContent()" />
		<img class="red-circle" src="/images/icon/icon_red_circle.png" alt="알림 아이콘" />
		<div class="noti-box">
			<div class="content">
				알림이 없습니다.
			</div>
			<p>최근 30일 이내 알림만 표시됩니다.</p>
		</div>
      </li>
    </ul>
  </header>
  <script>
    const $notification = document.getElementById("notification");
    const $bell = $notification.querySelector(".bell");
    const $redCircle = $notification.querySelector(".red-circle");
    
    const $notiBox = $notification.querySelector(".noti-box");
    const $content = $notiBox.querySelector(".content");
    
    
    fetch("/notification/has-unread")
    .then(response => response.json())
    .then(data => {
    	if(data.hasUnread) {
    		$redCircle.classList.add("active");
    	}
    })
    .catch(e => console.log(e));

    const eventSource = new EventSource("/subscribe");

    eventSource.addEventListener("message", e => {
        $redCircle.classList.add("active");
    });

    async function openContent() {
        $notiBox.classList.toggle("active");

        // 알림 박스를 열었을 때
        if($notiBox.classList.contains("active")) {
        	$redCircle.classList.remove("active");	// 종 아이콘 빨간 점 제거
        	
            const data = await fetch("/notification/read").then(response => response.json());
            
            if(data.length > 0) {
            	const ul = document.createElement("ul");
            	
            	for(let notification of data) {
            		const li = document.createElement("li");
            		const a = document.createElement("a");
            		
            		a.innerText = notification.message;
            		a.href = notification.targetUrl;
            		
            		ul.appendChild(li);
            		li.appendChild(a);
            		
            		// 아직 읽지 않은 알림이면 붉은 점 아이콘 표시
            		if(notification.isRead === 0) {
            			const img = document.createElement("img");
            			
                		img.classList.add("red-circle");
                		img.classList.add("active");
                		img.src = "/images/icon/icon_red_circle.png";
                		img.alt = "new 아이콘";
                		
                		li.appendChild(img);
            		}
            	}
            	
            	$content.innerHTML = "";
            	$content.appendChild(ul);
            } else {
            	$content.innerHTML = "알림이 없습니다.";
            }
        }
    }
  </script>
</div>