<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/user.css" />
    <title>Question Detail</title>
</head>
<body>
    <div th:replace="fragments/header :: headerFragment"></div>
    <section id="questionDetail">
        <h2>답변 상세</h2>
        <table border="1">
            <tbody>
                <tr>
                    <th>문의 제목</th>
                    <td th:text="${question.title}"></td>
                </tr>
                <tr>
                    <th>문의 내용</th>
                    <td><div th:text="${question.content}" class="cell-content"></div></td>
                </tr>
            </tbody>
        </table>
        <table border="1" th:if="${answer != null}">
            <tbody>
                <tr>
                    <th>상담사 명</th>
                    <td th:text="${answer.admin.name}"></td>
                </tr>
                <tr>
                    <th>답변 내용</th>
                    <td><div th:text="${answer.content}" class="cell-content"></div></td>
                </tr>
            </tbody>
        </table>
        <div th:if="${answer == null}" class="btn-wrap">
            <button th:data-qno="${question.qno}" th:onclick="updateQuestion(this.getAttribute('data-qno'))">수정</button>
            <button th:data-qno="${question.qno}" th:onclick="deleteQuestion(this.getAttribute('data-qno'))">삭제</button>
        </div>
        <a href="/myPage">← 목록으로 돌아가기</a>
    </section>
    <script>
        function updateQuestion(qno) {
            location.href = "/updateForm/" + qno;
        }

        function deleteQuestion(qno) {
            if(confirm("해당 문의를 삭제하시겠습니까??")) {
                location.href = "/deleteQuestion/" + qno;
            }
        }
    </script>
</body>
</html>